@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');
*{
    font-family: Montserrat;
    color: #213122;
}



a{
    text-decoration: none;
}


.mainbox{
    width:70%;
    padding:30px;
    margin:10px;
    margin-right:auto;
    margin-left:auto; 
    border:1px solid #ebebeb;
    box-shadow:0 1px 20px 0 rgba(0,0,0,0.1);
    position:relative;
}  
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_logo{
    display: flex;
}
.navbar_menu{
    display: flex;
    padding-left:0; /* list.css 특성 상 자동으로 주어지는 padding-left를 0으로 만듬*/
}
.navbar_menu li{
    padding: 8px 12px;
    list-style-type: none;

}
.navbar_menu li:hover{
    background-color: antiquewhite;
    border-radius: 4px;

}

.navbar_icon{
    list-style: none;
    display: flex;
    padding-left: 0;
    justify-content: center;
}
.navbar_icon li{
    padding:10px;

}
.navbar_menuBtn{
    display: none;
    position:absolute;
    right:32px;

}
.me{
    width:50%;
    height:50%;
    margin-left:30%;
}


.main_wrap{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.main_content{
    padding-top:10%;
    text-align: center;
}



/*반응형 만들 때 */ 
@media screen and (max-width:768px) {
    .navbar{
        flex-direction: column; /*아이템이 밑으로 떨어짐 */ 
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        width:100%;
        align-items: center;
    }
    .navbar_menu li{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .navbar_icon{
        justify-content: center;
        width: 100%;
    }
    .navbar_menuBtn{
        display: block;
    }
    .navbar_menu.active, .navbar_icon.active{
        display: flex;
    }


}



footer{
    text-align: center;
    color:#919191;
    font-size:10px;
    padding:20px;
}