{% load static %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script src="/static/js/index.js" defer></script>
 <div class="mainbox">
     <div class="main_wrap">
         <img src="https://img.onnada.com/2022/0202/5f21eef217.jpg" class="me">
         <div class="main_content" style="padding-top: 3%">
             <p>이용하시려면 로그인 해주세요.</p>
              <a role="button" type="button" class="loginBtn" href="{% url 'main:login' %}">Login</a>
             <p>계정이 없으시면 회원가입</p>
             <a role="button" type="button" class="loginBtn" href="{% url 'main:signup' %}">Sign Up</a>

         </div>

    </div>

      <footer>
          <p>copyright 2023 CHAERISH All rights reserved.</p>
       </footer>


  </div>
