{% extends 'diary/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/calendar.css' %}">
 <div class='rap'>
     <p style="margin-left: 20%;">날짜를 클릭하고 오늘의 기분을 입력하세요!</p>
    <div class="header">
       <div class="btn prevDay"></div>
      <h2 class='dateTitle'></h2>
      <div class="btn nextDay"></div>
    </div>
    <div class="grid dateHead">
      <div>일</div>
      <div>월</div>
      <div>화</div>
      <div>수</div>
      <div>목</div>
      <div>금</div>
      <div>토</div>

    </div>
    <div class="grid dateBoard"></div>


 </div>

 <script>


 // 임시 데이터
{#const data = [#}
{#  { date: '2023-06-14', content: '운체 시험' },#}
{#  { date: '2023-06-21', content: '졍이 생일😻' },#}
{#];#}

const data_list = {{ citem_list | safe }};

const data = [];

for (const d of data_list) {
    console.log(d)
  const newItem = {
    date: d.date,
    content: d.content
  };
  data.push(newItem);
}
console.log(data);






// 데이터 가공
const calendarList = data.reduce(
  (acc, v) =>
    ({ ...acc, [v.date]: [...(acc[v.date] || []), v.content] })
  , {}
);

// pad method
Number.prototype.pad = function() {
  return this > 9 ? this : '0' + this;
}


// 달력 생성
const makeCalendar = (date) => {
  // 현재의 년도와 월 받아오기
  const currentYear = new Date(date).getFullYear();
  const currentMonth = new Date(date).getMonth() + 1;

  // 한달전의 마지막 요일
const firstDay = new Date(date.setDate(1)).getDay();
  // 현재 월의 마지막 날 구하기
  const lastDay = new Date(currentYear, currentMonth, 0).getDate();

  // 남은 박스만큼 다음달 날짜 표시
  const limitDay = firstDay + lastDay;
  const nextDay = Math.ceil(limitDay / 7) * 7;

  let htmlDummy = '';


  // 한달전 날짜 표시하기
  for (let i = 0; i < firstDay; i++) {
    htmlDummy += `<div class="noColor"></div>`;
  }

  // 이번달 날짜 표시하기
  for (let i = 1; i <= lastDay; i++) {
    const date = `${currentYear}-${currentMonth.pad()}-${i.pad()}`

    htmlDummy += `
      <div class="item${i}"onclick="getDateInfo('${i}')">
        ${i}
        <p>
          ${calendarList[date]?.join('</p><p>') || ''}
        </p>
      </div>
    `;
  }


  // 다음달 날짜 표시하기
  for (let i = limitDay; i < nextDay; i++) {
    htmlDummy += `<div class="noColor"></div>`;
  }


  document.querySelector(`.dateBoard`).innerHTML = htmlDummy;
  document.querySelector(`.dateTitle`).innerText = `${currentYear} ${currentMonth}월`;
}

const date = new Date('2023-06-02');

makeCalendar(date);

// 이전달 이동
document.querySelector(`.prevDay`).onclick = () => {
makeCalendar(new Date(date.setMonth(date.getMonth() - 1)));
}

// 다음달 이동
document.querySelector(`.nextDay`).onclick = () => {
makeCalendar(new Date(date.setMonth(date.getMonth() + 1)));
}


function getDateInfo(day) {
        const currentDate = new Date(date);
        const currentMonth = currentDate.getMonth() + 1;
        const currentYear = currentDate.getFullYear();
        const dataInfo = {
                data: `${currentYear}-${currentMonth}-${day}`,
        };
        const encodedData = encodeURIComponent(JSON.stringify(dataInfo));
        const url = `/diary/create_post?data=${encodedData}`;
        window.location.href = url;

};





 </script>
{% endblock %}
